.form-items{
  width: 90vw;
  height: 20vh;
  display: flex;
  justify-content: flex-start;
  padding: 3rem;
  align-items: center;
  flex-direction: column;
}
.form-items__container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 500px;
  height: 2rem;
  padding: 2rem;
  box-shadow: 10px 10px 5px #aaaaaa;
  border-radius: 15px;
}
.form-items__label{
  font-size: 1.5rem;
}
.form-items__input{
  border: none;
  padding: 0 1.4rem;
  font-size: 1.5rem;
}
.form-items__input:focus{
  outline: none;
}
